.sort-details {
  padding: 0;
  color: white;
  background-color: #3b3d54;
  min-height: 100vh;
  margin: 0;
}

.sort-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3.5vh 20px 10px 20px;
}

.back-button {
  background: none;
  border: none;
  cursor: pointer;
  padding-left: 1vw;
  display: flex;
  align-items: center;
}

.arrow-back {
  width: 25px;
  height: auto;
}

.sort-title {
  font-family: 'Sora', sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
  color: white;
  margin: 0;
  margin-left: 2vw;
  flex-grow: 1;
  text-align: left;
}

.resource-buttons {
  display: flex;
  gap: 10px;
  padding-right: 3vw;
}

.resource-button {
  background-color: white;
  color: #3b3d54;
  border-radius: 8px;
  padding: 6px 10px;
  font-family: 'Sora', sans-serif;
  font-weight: 600;
  text-decoration: none;
  transition: transform 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.resource-button img {
  width: 2.5vw;
  height: 2.5vw;
}

.resource-button:hover {
  transform: scale(1.05);
  background-color: #e0e0e0;
}

.content {
  display: flex;
  margin: 20px;
  gap: 20px;
}

.visualizer-container {
  flex: 0 0 50%;
  max-width: 50%;
  margin-left: 4vw;
}

.code-and-actions {
  margin-left: 6vw;
  flex: 0 0 71%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

.code-snippet {
  width: 100%;
  background-color: #1d1e22;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  padding: 20px;
  padding-top: 0;
  color: white;
  margin-top: 1.5vh;
  margin-bottom: 10px;
  height: 350px;
  overflow-y: auto;
}

.action-buttons-container {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

.practice-button,
.how-to-use-button,
.copy-code {
  background-color: #C7F9CC;
  color: #3b3d54;
  border: none;
  border-radius: 8px;
  padding: 15px 30px;
  font-family: 'Sora', sans-serif;
  font-weight: 600;
  font-size: 1.25rem;
  cursor: pointer;
  transition: transform 0.2s;
}

.how-to-use-button {
  background-color: transparent;
  color: white;
  border: 2px solid white;
  display: flex;
  align-items: center;
  gap: 10px;
}

.copy-code {
  background-color: #C7F9CC;
  display: flex;
  align-items: center;
  gap: 10px;
}

.how-to-use-button img.button-icon,
.copy-code img.button-icon {
  width: 20px;
  height: auto;
}

.how-to-use-button:hover,
.practice-button:hover,
.copy-code:hover {
  transform: scale(1.05);
}

.snackbar {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #323232;
  color: #fff;
  padding: 16px;
  border-radius: 4px;
}