.App {
  text-align: center;
}

.frame {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  margin: 5em 0;
  justify-content: center;
  align-items: center;
  height: 220px;
  width: 100%;
}

.card {
  border-radius: 2em;
  width: 100%;
}

.controller {
  background: #38A3A5;
  margin: 0 1em;
  border: 1px solid #38A3A5;
  height: 4em;
  width: 4em;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.controller.previous {
  transform: rotate(180deg);
}

.control-buttons {
  height: 4em;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.control-pannel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.barsDiv {
  width: 100%;
}

.control-buttons img {
  height: 2em;
  width: 2em;
}

.controller.volume {
  background: transparent;
  margin: 0 1em;
  border: 2px solid #38A3A5;
  height: 4em;
  width: 4em;
  border-radius: 1.4em;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

